{{!-- src/views/index.hbs  --}}



<main class="mt-5">
    
    <div class="container">
        
        <div class="card mx-auto">
            <div class="card-header">
                <img class="card-img-top mx-auto m-2 rounded-circle" src="/img/biblioteca.jpg" alt="logo" style="width: 150px; height:150px; display:block ">

                <h2 class="card-body text-center p-4"> BIBLIOTECA </h2>
            </div>
            <div class="card-body text-center">
                <p>"Entre las páginas del conocimiento: Explora el mundo de las letras, la imaginación sin límites y la sabiduría atemporal en nuestra Biblioteca. Un refugio para la mente y el alma, donde cada libro es un portal a un universo nuevo. Bienvenido al lugar donde los sueños toman forma y las palabras tejen historias inolvidables."</p>

                <a href="/add" class="btn btn-primary"> crear libro </a>
            </div>
        </div>
    </div>
</main>